/Time/Time/build/
/AEXBannerJoris/nbproject/private/
/AEXBannerJoris/build/
/AEXBannerJoris/dist/
/AEXBanner/nbproject/private/
/AEXBanner/build/
/AEXBanner/dist/
/AEXServer/nbproject/private/
/AEXServer/build/
/AEXServer/dist/