/Time/Time/build/
/AEXBannerJoris/nbproject/private/
/AEXBannerJoris/build/
/AEXBannerJoris/dist/
/AEXBanner/nbproject/private/
/AEXBanner/build/
/AEXBanner/dist/
/AEXServer/nbproject/private/
/AEXServer/dist/
/AEXServer/build/
/BankierenNoObserverFX/nbproject/private/
/JSFKochFractal_W5_SocketsServer/nbproject/private/
/JSFKochFractal_W5_SocketsServer/build/
/JSFKochFractal_W5_SocketsServer/dist/